<template>
    <v-card
        class="pa-10"
        elevation="3"
    >
        <v-row>
            <v-col>
                <v-text-field
                    v-model="unit.title"
                    :rules="titleRules"
                    label="Unit title"
                    outlined
                    required
                ></v-text-field>
            </v-col>
        </v-row>
        <v-row>
            <v-col>
                <v-textarea
                    v-model="unit.description"
                    :rules="descriptionRules"
                    label="Description"
                    outlined
                    auto-grow
                    rows="1"
                    required
                ></v-textarea>
            </v-col>
        </v-row>
        <v-row>
            <v-col>
                <material-icons :unit="unit"></material-icons>
            </v-col>
        </v-row>
    </v-card>
</template>

<script>
    import MaterialIcons from '@/js/components/pages/courses/units/edit/nested/MaterialIcons';

    export default {
        props: [
            'unit'
        ],
        data() {
			return {
                titleRules: [
                    v => !!v || 'Title is required',
                ],
                descriptionRules: [
                    v => !!v || 'Description is required',
                ],
			}
		},
        components: {
            MaterialIcons
        }
    }
</script>

<style scoped>
</style>


