<template>
    <v-row>
        <template
            v-if="loading"
        >
            <v-col
                v-for="n in 4"
                :key="n"
                lg="6"
                md="6"
                sm="12"
                cols="12"
            >
                <v-card
                    class="mx-auto"
                >
                    <v-skeleton-loader
                        type="image"
                    >
                    </v-skeleton-loader>
                    <v-skeleton-loader
                        class="px-4 py-4"
                        type="sentences"
                    >
                    </v-skeleton-loader>
                </v-card>
            </v-col>
        </template>
        <v-col
            v-else
            lg="6"
            md="6"
            sm="12"
            cols="12"
            v-for="course in courses"
            v-bind:key="course.id"
        >
            <v-hover
                v-slot:default="{ hover }"
            >
                <v-card
                    class="mx-auto"
                    :elevation="hover ? 12 : 3"
                    :class="{ 'on-hover': hover }"
                >
                    <v-img
                        :src="course.background != null ? course.background : 'https://picsum.photos/id/7/2400/800'"
                        height="194"
                        class="white--text align-end"
                        gradient="to bottom, rgba(0,0,0,.1), rgba(0,0,0,.5)"
                    >
                        <v-card-title v-text="course.title">
                        </v-card-title>
                        <v-card-subtitle
                            v-text="course.status"
                            class="white--text"
                        >
                        </v-card-subtitle>
                    </v-img>

                    <v-card-text>
                        {{course.description}}
                    </v-card-text>

                    <v-card-actions>
                        <v-btn
                            text
                            color="primary"
                            :to="'/courses/' + course.id"
                        >
                            Learn More
                        </v-btn>
                        <v-spacer></v-spacer>
                        <v-btn icon>
                            <v-icon>mdi-heart</v-icon>
                        </v-btn>
                        <v-btn icon>
                            <v-icon>mdi-share-variant</v-icon>
                        </v-btn>
                    </v-card-actions>
                </v-card>
            </v-hover>
        </v-col>
    </v-row>
</template>

<script>
	export default {
		data: function() {
			return {
				transition: 'scale-transition',
			}
		},
		props: [
			'courses',
			'loading'
		]
	};
</script>

<style>
</style>
