<template>
	<v-form
		ref="form"
		v-model="valid"
		lazy-validation
	>
		<v-row>
			<v-col
                cols="12"
			>
				<lesson-header :lesson="lesson" :tasks="tasks"></lesson-header>
			</v-col>
		</v-row>
        <lesson-preview :lesson="lesson" :tasks="tasks"></lesson-preview>
		<v-row>
			<v-col
                cols="12"
            >
				<lesson-upload :lesson="lesson"></lesson-upload>
			</v-col>
		</v-row>
		<v-row>
			<v-col
				class="mt-7"
			>
				<v-divider></v-divider>
				<v-btn
					:disabled="!valid"
					color="success"
					class="mr-4 mt-8"
					@click="submit"
				>
					Submit
				</v-btn>
			</v-col>
		</v-row>
	</v-form>
</template>

<script>
    import api from '@/js/api/lessons';

	import LessonHeader from '@/js/components/pages/courses/units/lessons/edit/nested/LessonHeader';
	import LessonPreview from '@/js/components/pages/courses/units/lessons/edit/nested/LessonPreview';
    import LessonUpload from '@/js/components/pages/courses/units/lessons/edit/nested/LessonUpload';

	export default {
        props: [
            'loading',
            'lesson',
        ],
		data: () => ({
			valid: true,
            tasks: [],
		}),
		methods: {
            init_function(){
                for (let i = 0; i < this.lesson.elements.length; i++) {
                    let element = this.lesson.elements[i];
                    if (element.type == 'image') {
                        element.new_images = [];
                    }
                }

                if (this.lesson.files != undefined) {
                    this.lesson.new_files = [];
                }
            },
			add_element(element){
				this.lesson.elements.push({
					'order' : this.lesson.elements.length + 1,
                    'text' : {
                        'content' : (element.type == 'text' ? element.content : null),
                    },
                    'link' : {
                        'content' : (element.type == 'link' ? element.content : null),
                    },
                    'video' : {
                        'content' : (element.type == 'video' ? element.content : null),
                    },
                    'images' : (element.type == 'image' ? element.content : null),
                    'type' : element.type,
                    'active' : false
                });
			},
			submit() {
				if(this.$refs.form.validate()){
					let formData = new FormData();

                    // lesson.new_files
					for (let i = 0; i < this.lesson.new_files.length; i++) {
						formData.append('files-' + i, this.lesson.new_files[i]);
                    }

                    // lesson
                    formData.append('title', this.lesson.title);
                    formData.append('info', this.lesson.info);

                    // tasks
                    formData.append('tasks', JSON.stringify(this.tasks));

                    // lesson.elements
                    formData.append('lesson_elements', JSON.stringify(this.lesson.elements));

                    // lesson.elements.new_files
                    for (let i = 0; i < this.lesson.elements.length; i++) {
                        let element = this.lesson.elements[i]
                        if(element.type == 'image'){
                            for (let y = 0; y < element.new_images.length; y++) {
                                let image = element.new_images[y]
                                formData.append('lesson_elements-' + i + '-image-' + y, image);
                            }
                        }
                    }

                    formData.append("_method", "put");
                    api.update(
                        this.$route.params.course,
                        this.$route.params.unit,
                        this.$route.params.lesson,
                        formData,
                        {
                            headers: {
                                'content-type': 'multipart/form-data',
                            },
                        }
                    )
					.then(response => {
                        this.$router.push({ name: "courses.show.units.show.lessons.show",
                            params: {
                                message: response.data.message,
                                course_id: this.$route.params.course,
                                unit_id: this.$route.params.unit,
                                lesson_id: this.$route.params.lesson
                            }
                        });
					})
					.catch(error => {
						this.error = error.response.data;
					});
				}
			},
        },
        created: function (){
            this.init_function();
        },
		components: {
			LessonHeader,
			LessonPreview,
			LessonUpload
		},
	}
</script>

<style scoped>
</style>
