<template>
	<v-container>
		<v-row>
			<v-col
				cols="12"
			>
				<bread-crumbs :items="items"></bread-crumbs>
			</v-col>
		</v-row>
		<lesson-show :lesson="lesson" :loading="loading"></lesson-show>
        <v-row>
			<v-col
				cols="12"
			>
				<comments-box :comments='comments' :loading="loading" @update="update_comments"></comments-box>
			</v-col>
		</v-row>
	</v-container>
</template>

<script>
	import api from '@/js/api/lessons';

	import BreadCrumbs from '@/js/components/global/BreadCrumbs';
	import LessonShow from '@/js/components/pages/courses/units/lessons/show/LessonShow';
    import LessonFiles from '@/js/components/pages/courses/units/lessons/show/LessonFiles';
    import CommentsBox from '@/js/components/pages/courses/units/lessons/show/CommentsBox';

	export default {
		data: function() {
			return {
				loading: true,
				course_id: this.$route.params.course,
                unit_id: this.$route.params.unit,
                lesson_id: this.$route.params.lesson,
                lesson: [],
                comments: [],
				items: [],
			}
		},
		mounted() {
			this.items = [{
				text: 'Dashboard',
				disabled: false,
				href: '/dashboard/',
			},{
				text: 'Courses',
				disabled: false,
				href: '/courses/',
			},{
				text: this.course_id,
				disabled: false,
				href: '/courses/' + this.course_id,
			},{
				text: 'Unit ' + this.unit_id,
				disabled: false,
				href: '/courses/' + this.course_id + '/units/' + this.unit_id,
			},{
				text: 'Lesson ' + this.lesson_id,
				disabled: true,
				href: '/courses/' + this.course_id + '/units/' + this.unit_id + '/lessons/' + this.lesson_id,
			}];

            api.find(
                this.course_id,
                this.unit_id,
                this.lesson_id, {
				headers: {
					Accept: 'application/json',
				}
			})
			.then((response) => {
                this.lesson = response.data.lesson;
                this.comments = response.data.comments;
				this.loading = false;
			})
			.catch(error => {
				this.error = error.response.data;
			});
        },
        methods: {
			update_comments(comment) {
				this.comments.push(comment);
			}
		},
		components: {
			BreadCrumbs,
			LessonShow,
            LessonFiles,
            CommentsBox
		}
	}
</script>

<style lang="scss">
</style>
