<template>
    <v-container>
        <v-row>
            <v-col
                cols="12"
            >
                <bread-crumbs :items="items"></bread-crumbs>
            </v-col>
        </v-row>
        <v-row>
            <v-col
                cols="12"
                v-if="!loading"
            >
                <form-edit :lesson="lesson"></form-edit>
            </v-col>
        </v-row>
    </v-container>
</template>

<script>
    import api from '@/js/api/lessons';

    import BreadCrumbs from '@/js/components/global/BreadCrumbs';
    import FormEdit from '@/js/components/pages/courses/units/lessons/edit/FormEdit';

    export default {
        data: function() {
            return {
                loading: true,
                course_id: this.$route.params.course,
                unit_id: this.$route.params.unit,
                lesson_id: this.$route.params.lesson,
                lesson: [],
				items: [],
            }
        },
        mounted() {
			this.items = [{
                text: 'Dashboard',
                disabled: false,
                href: '/dashboard/',
            },{
                text: 'Courses',
                disabled: false,
                href: '/courses/',
            },{
                text: this.course_id,
                disabled: false,
                href: '/courses/' + this.course_id,
            },{
                text: 'Unit ' + this.unit_id,
                disabled: false,
                href: '/courses/' + this.course_id + '/units/' + this.unit_id,
            },{
                text: 'Lesson ' + this.lesson_id,
                disabled: false,
                href: '/courses/' + this.course_id + '/units/' + this.unit_id + '/lessons/' + this.lesson_id,
            },{
                text: 'Edit',
                disabled: true,
                href: '/courses/show/units/show/lessons/show/edit/',
            }];

			api.edit(this.course_id, this.unit_id, this.lesson_id, {
				headers: {
					Accept: 'application/json',
				}
			})
			.then((response) => {
				this.lesson = response.data.lesson;
				this.loading = false;
			})
			.catch(error => {
				this.error = error.response.data;
			});
		},
        components: {
            BreadCrumbs,
            FormEdit
        }
    }
</script>

<style>
</style>
