<template>
    <v-card
        elevation="3"
    >
        <template
            v-if="element.type == 'link'"
        >
            <div style="width: 100%;">
                <div style="position: relative; padding-bottom: 56.25%; padding-top: 0; height: 0;">
                    <iframe frameborder="0" width="1200px" height="675px" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;" :src="getSrc(element.link.content)" type="text/html" allowscriptaccess="always" allowfullscreen="true" scrolling="yes" allownetworking="all"></iframe>
                </div>
            </div>
            <v-card-actions
                class="grey lighten-4"
            >
                <v-spacer></v-spacer>
                <v-btn
                    color="primary"
                    fab
                    small
                    @click="active = !active"
                >
                    <v-icon v-if="active">mdi-close</v-icon>
                    <v-icon v-else>mdi-pencil</v-icon>
                </v-btn>
                <v-btn
                    color="error"
                    fab
                    small
                    @click="open_dialog(element)"
                >
                    <v-icon>mdi-delete</v-icon>
                </v-btn>
            </v-card-actions>
            <v-slide-y-transition>
                <v-sheet
                    v-show="active"
                    class="ma-6"
                >
                    <v-text-field
                        v-model="element.link.content"
                        label="Enter link"
                        persistent-hint
                        required
                        outlined
                        placeholder="Embed link"
                        prepend-icon="link"
                    ></v-text-field>
                </v-sheet>
            </v-slide-y-transition>
        </template>
        <v-dialog
            persistent max-width="290"
            :value="dialog.status"
        >
            <v-card>
                <v-card-title class="headline">Are you sure?</v-card-title>
                <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="green darken-1" text @click="dialog.status = false">Cancel</v-btn>
                <v-btn color="green darken-1" text @click="remove_element(dialog.object)">Remove</v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
    </v-card>
</template>

<script>
    export default {
        props: [
            'element',
            'tasks',
        ],
        data() {
			return {
                active: false,
                dialog: {
                    'status': false,
                    'object': [],
                },
			}
		},
        methods: {
            open_dialog(element){
                this.dialog.status = true;
                this.dialog.object = element;
            },
            remove_element(element){
                this.dialog.status = false;
                this.$emit('remove_element', element);
            },
            getSrc: function(iframe){
                let url = iframe;
                let auxReturn;

                try {
                    auxReturn = new URL(url).toString();
                } catch (e) {
                    let regex = /src="(.[^"]+)"/g;
                    auxReturn = regex.exec(url)[1];
                }
                return auxReturn;
            }
		},
    }
</script>

<style scoped>
</style>
