<template>
    <v-card
        elevation="3"
    >
        <template
            v-if="element.type == 'text'"
        >
            <v-sheet
                v-show="active"
            >
                <quill-editor
                    v-model="element.text.content"
                    required
                    :options="editorOption"
                ></quill-editor>
            </v-sheet>
            <v-card-text
                v-show="!active"
            >
                <div
                    class="output ql-snow"
                >
                    <div class="ql-editor" v-html="element.text.content"></div>
                </div>
            </v-card-text>
            <v-card-actions
                class="grey lighten-4"
            >
                <v-spacer></v-spacer>
                <v-btn
                    color="primary"
                    fab
                    small
                    @click="active = !active"
                >
                    <v-icon v-if="active">mdi-close</v-icon>
                    <v-icon v-else>mdi-pencil</v-icon>
                </v-btn>
                <v-btn
                    color="error"
                    fab
                    small
                    @click="open_dialog(element)"
                >
                    <v-icon>mdi-delete</v-icon>
                </v-btn>
            </v-card-actions>
        </template>
        <v-dialog
            persistent max-width="290"
            :value="dialog.status"
        >
            <v-card>
                <v-card-title class="headline">Are you sure?</v-card-title>
                <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="green darken-1" text @click="dialog.status = false">Cancel</v-btn>
                <v-btn color="green darken-1" text @click="remove_element(dialog.object)">Remove</v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
    </v-card>
</template>

<script>
    export default {
        props: [
            'element',
            'tasks',
        ],
        data() {
			return {
                active: false,
                dialog: {
                    'status': false,
                    'object': [],
                },
                editorOption: {
                    modules: {
                        toolbar: [
                            ['bold', 'italic', 'underline', 'strike'],
                            ['blockquote'],
                            [{ 'header': 1 }, { 'header': 2 }],
                            [{ 'list': 'ordered' }, { 'list': 'bullet' }],
                            [{ 'script': 'sub' }, { 'script': 'super' }],
                            [{ 'indent': '-1' }, { 'indent': '+1' }],
                            [{ 'direction': 'rtl' }],
                            [{ 'size': ['small', false, 'large', 'huge'] }],
                            [{ 'header': [1, 2, 3, 4, 5, 6, false] }],
                            [{ 'font': [] }],
                            [{ 'color': [] }, { 'background': [] }],
                            [{ 'align': [] }],
                            ['clean'],
                            ['link', 'image',]
                        ],
                    },
                    placeholder: 'Lesson content ...'
                },
			}
		},
        methods: {
            open_dialog(element){
                this.dialog.status = true;
                this.dialog.object = element;
            },
            remove_element(element){
                this.dialog.status = false;
                this.$emit('remove_element', element);
            },
		},
    }
</script>

<style scoped>
</style>
