<template>
    <v-card-text>
        <div
            class="output ql-snow"
        >
            <div class="ql-editor" v-html="element.text.content"></div>
        </div>
    </v-card-text>
</template>

<script>
    export default {
        props: [
            'element',
        ],
    }
</script>
