<template>
    <div style="width: 100%;">
        <div style="position: relative; padding-bottom: 56.25%; padding-top: 0; height: 0;">
            <iframe frameborder="0" width="1200px" height="675px" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;" :src="getSrc(element.video.content)" allowfullscreen="true" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"></iframe>
        </div>
    </div>
</template>

<script>
    export default {
        props: [
            'element',
        ],
        data() {
			return {
			}
		},
        methods: {
            getSrc: function(iframe){
                let url = iframe;
                let auxReturn;

                try {
                    auxReturn = new URL(url).toString();
                } catch (e) {
                    let regex = /src="(.[^"]+)"/g;
                    auxReturn = regex.exec(url)[1];
                }
                return auxReturn;
            }
		},
    }
</script>

<style scoped>
</style>
