// Fonts
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons');
@import '~@mdi/font/css/materialdesignicons.css';
@import '~quill/dist/quill.snow.css';

.ql-toolbar.ql-snow{
    background-color: rgba(0,0,0,0.05);
    border-color: rgba(0,0,0,.38) !important;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.ql-container.ql-snow{
    border-color: rgba(0,0,0,.38) !important;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}
.ql-editor{
    min-height: 200px;
}
