<template>
	<v-card
		class="pa-2"
		height="100%"
	>
		<v-row
			align="center"
			style="height: 100%"
		>
			<v-col
				cols="12"
				class="pt-0 pb-0"
			>
				<div>
					<apexchart
						type="bar"
						:options="chartOptions"
						:series="series"
					>
					</apexchart>
				</div>
			</v-col>
		</v-row>
	</v-card>
</template>

<script>
	export default {
		data: function() {
			return {
				series: [{
					name: "Habitantes",
					data: [448, 470, 540, 1200, 1380]
				}],
				chartOptions: {
					chart: {
						type: 'bar',
					},
					labels: ['enero', 'febrero', 'marzo', 'abril', 'mayo'],
					plotOptions: {
						bar: {
							horizontal: true,
						}
					},
					dataLabels: {
						enabled: true
					},
					xaxis: {
						categories: ['France', 'Japan', 'United States', 'China', 'Germany'],
					}
				},
			}
		}
	};
</script>

<style>
</style>
