<template>
    <v-row>
        <template
            v-for="(file, idx) in files"
        >
            <v-col
                :key="idx"
                lg="2"
                md="2"
                sm="2"
                cols="4"
            >
                <v-tooltip bottom>
                    <template v-slot:activator="{ on: tooltip }">
                        <v-hover
                            v-slot:default="{ hover }"
                        >
                            <v-card
                                @click="() => show(idx)"
                                :elevation="hover ? 12 : 2"
                                :class="{ 'on-hover': hover }"
                            >
                                <v-img
                                    v-on="tooltip"
                                    :src="file.src ? file.src : file"
                                    aspect-ratio="1"
                                    class="grey lighten-2"
                                >
                                    <template v-slot:placeholder>
                                        <v-row
                                            class="fill-height ma-0"
                                            align="center"
                                            justify="center"
                                        >
                                            <v-progress-circular indeterminate color="grey lighten-5"></v-progress-circular>
                                        </v-row>
                                    </template>
                                </v-img>
                            </v-card>
                        </v-hover>
                    </template>
                    <span>{{file.title}}</span>
                </v-tooltip>
            </v-col>
        </template>
        <vue-easy-lightbox
            :visible="visible"
            :index="index"
            :imgs="files"
            :moveDisabled="false"
            @hide="handleHide"
        />
    </v-row>
</template>

<script>
    import vueEasyLightbox from 'vue-easy-lightbox'

    export default {
        props: [
            'files',
        ],
        data() {
			return {
				visible: false,
				index: 0 // default
			}
		},
        methods: {
			show(index) {
				this.index = index
				this.visible = true
			},
			handleHide() {
				this.visible = false
			}
		},
        components: {
            vueEasyLightbox
		},
    }
</script>

<style scoped>
</style>