<template>
	<v-form
		ref="form"
		v-model="valid"
		lazy-validation
	>
		<v-row>
			<v-col
				class=" mb-6"
			>
				<message-header
                    :data="data"
                >
                </message-header>
			</v-col>
		</v-row>
        <elements-preview
            :data="data"
        ></elements-preview>
        <v-row>
			<v-col>
				<element-upload
                    :data="data"
                ></element-upload>
			</v-col>
		</v-row>
		<v-row>
			<v-col
				class="mt-7"
			>
				<v-divider></v-divider>
				<v-btn
					:disabled="!valid"
					color="success"
					class="mr-4 mt-8"
					@click="submit"
				>
					Submit
				</v-btn>

				<v-btn
					color="error"
					class="mr-4 mt-8"
					@click="reset"
				>
					Clear
				</v-btn>
			</v-col>
		</v-row>
	</v-form>
</template>

<script>
    import api from '@/js/api/messages';

    import MessageHeader from '@/js/components/pages/courses/messages/create/nested/MessageHeader';
    import ElementsPreview from '@/js/components/pages/courses/messages/create/nested/ElementsPreview';
	import ElementUpload from '@/js/components/pages/courses/messages/create/nested/ElementUpload';

	export default {
		data: () => ({
            valid: true,
            data: {
                'title': '',
                'description': '',
                'elements': [],
            }
		}),

		methods: {
			reset () {
                this.$refs.form.reset();
                this.data = {
                    'title': '',
                    'description': '',
                    'elements': [],
                }
			},
			submit() {
				if(this.$refs.form.validate()){
					let formData = new FormData();

					formData.append('title', this.data.title);
                    formData.append('description', this.data.description);
                    formData.append('elements', JSON.stringify(this.data.elements));

                    for (let i = 0; i < this.data.elements.length; i++) {
                        if(this.data.elements[i].type == 'image'){
                            for (let y = 0; y < this.data.elements[i].content.length; y++) {
                                formData.append('message_elements-' + i + '-image-' + y, this.data.elements[i].content[y]);
                            }
                        }
                    }

					api.create(
                        this.$route.params.course,
                        formData,
                        {
                            headers: {
                                'content-type': 'multipart/form-data',
                            },
                        }
                    )
					.then(response => {
                        this.$router.push({
                            name: "courses.show",
                            params: {
                                message: response.data.message,
                                course_id: this.$route.params.course
                            }
                        });
					})
					.catch(error => {
						this.error = error.response.data;
					});
				}
			},
		},
		components: {
            MessageHeader,
            ElementsPreview,
            ElementUpload
		},
	}
</script>

<style lang="scss">
</style>
