<template>
    <v-row justify="center">
        <v-col
            cols="12"
        >
            <v-card
                elevation="3"
            >
                 <v-carousel>
                    <template
                        v-for="(image, index) in imageGallery"
                    >
                        <v-carousel-item
                            :key="index"
                            :src="image"
                            reverse-transition="fade-transition"
                            transition="fade-transition"
                        ></v-carousel-item>
                    </template>
                </v-carousel>
                <v-card-actions
                    class="grey lighten-4"
                >
                    <v-spacer></v-spacer>
                    <v-btn
                        color="primary"
                        fab
                        small
                        @click="active = !active"
                    >
                        <v-icon v-if="active">mdi-close</v-icon>
                        <v-icon v-else>mdi-pencil</v-icon>
                    </v-btn>
                    <v-btn
                        color="error"
                        fab
                        small
                        @click="open_dialog(element)"
                    >
                        <v-icon>mdi-delete</v-icon>
                    </v-btn>
                </v-card-actions>
                <v-slide-y-transition>
                    <v-sheet
                        v-show="active"
                        class="ma-6"
                    >
                        <v-file-input
                            ref='file'
                            v-model="element.content"
                            accept="image/png, image/jpeg, image/bmp"
                            color="deep-purple accent-4"
                            label="Image input"
                            placeholder="Select your images"
                            prepend-icon="mdi-image"
                            outlined
                            multiple
                            :show-size="1000"
                        >
                        </v-file-input>
                    </v-sheet>
                </v-slide-y-transition>
            </v-card>
        </v-col>
        <v-dialog
            persistent max-width="290"
            :value="dialog.status"
        >
            <v-card>
                <v-card-title class="headline">Are you sure?</v-card-title>
                <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="green darken-1" text @click="dialog.status = false">Cancel</v-btn>
                <v-btn color="green darken-1" text @click="remove_element(dialog.object)">Remove</v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
    </v-row>
</template>

<script>
    export default {
        props: [
            'element',
        ],
        data() {
			return {
                active: false,
                dialog: {
                    'status': false,
                    'object': [],
                },
			}
		},
        methods: {
            open_dialog(element){
                this.dialog.status = true;
                this.dialog.object = element;
            },
            remove_element(element){
                this.dialog.status = false;
                this.$emit('remove_element', element);
            },
		},
        computed: {
            imageGallery: function () {
                let gallery = []
                for (let i = 0; i < this.element.content.length; i++) {
                    let image = this.element.content[i];
                    image = URL.createObjectURL(image);
                    gallery.push(image);

                }
                return gallery;
            },
        }
    }
</script>

<style scoped>
</style>
