<template>
	<v-container>
		<v-row>
			<v-col
				cols="12"
			>
				<bread-crumbs :items="items"></bread-crumbs>
			</v-col>
		</v-row>
		<v-row>
			<v-col
				cols="12"
				class="text-center pt-0"
			>
				<v-tooltip bottom>
					<template v-slot:activator="{ on: tooltip }">
						<v-btn
							color="primary"
							dark
                            block
							to="/courses/create"
							v-on="{...tooltip}"
						>New course</v-btn>
					</template>
					<span>Make new courses.</span>
				</v-tooltip>
			</v-col>
		</v-row>
		<v-row>
			<v-col
				cols="12"
			>
				<index-course :courses="courses" :loading="loading"></index-course>
			</v-col>
		</v-row>
	</v-container>
</template>

<script>
	import api from '@/js/api/courses';

	import BreadCrumbs from '@/js/components/global/BreadCrumbs';
  	import IndexCourse from '@/js/components/pages/courses/index/IndexCourse';

	export default {
		data: function() {
			return {
				loading: true,
				items: [{
					text: 'Dashboard',
					disabled: true,
					href: '/dashboard/',
				}],
				courses: [
				],
			}
		},
		components: {
			BreadCrumbs,
			IndexCourse
		},
		mounted() {
			api.all({
				headers: {
					Accept: 'application/json',
				}
			})
			.then(response => {
				for (let i = 0; i < response.data.length; i++) {
					this.courses.push(response.data[i]);
				}
				this.loading = false;
			})
			.catch(error => {
				this.error = error.response.data;
			});
		}
	}
</script>

<style>
</style>
