<template>
	<v-hover
        v-slot:default="{ hover }"
    >
        <v-card
            :elevation="hover ? 12 : 2"
            :class="{ 'on-hover': hover }"
            class="pa-1 flex d-flex flex-column"
        >
            <v-card-title class="text-wrap pb-0">
                <v-row>
                    <v-col
                        cols="12"
                        md="12"
                        sm="12"
                        class="pr-0 mb-0 fix-line-height"
                    >
                        {{element.title}}
                    </v-col>
                </v-row>
            </v-card-title>
            <v-card-text
                class="flex"
            >
                {{element.info}}
            </v-card-text>
            <v-card-actions>
                <v-btn
                    text
                    color="deep-purple accent-4"
                    :to="'/courses/' + course_id + '/units/' + unit_id + '/lessons/' + element.id"
                >
                    Explore<v-icon>mdi-chevron-right</v-icon>
                </v-btn>
            </v-card-actions>
        </v-card>
    </v-hover>
</template>

<script>
	export default {
        data: function() {
			return {
				course_id: this.$route.params.course,
                unit_id: this.$route.params.unit,
			}
		},
		props: [
			'element'
		],
	}
</script>

<style scoped>
    .v-card__text, .v-card__title {
        word-break: normal; /* maybe !important  */
    }

    .fix-line-height{
        line-height: 1.4em;
    }

</style>
