<template>
    <v-row>
        <v-col
            cols="12"
            v-for="(element, index) in data.elements"
            :key="index"
        >
            <image-content
                v-if="element.type == 'image'"
                :element="element"
                @remove_element="remove_element"
            ></image-content>
            <video-content
                v-else-if="element.type == 'video'"
                :element="element"
                @remove_element="remove_element"
            ></video-content>
            <link-content
                v-else-if="element.type == 'link'"
                :element="element"
                @remove_element="remove_element"
            ></link-content>
            <ql-content
                v-else-if="element.type == 'text'"
                :element="element"
                @remove_element="remove_element"
            ></ql-content>
        </v-col>
    </v-row>
</template>

<script>
    import ImageContent from '@/js/components/pages/courses/messages/create/nested/cards/ImageContent';
    import VideoContent from '@/js/components/pages/courses/messages/create/nested/cards/VideoContent';
    import LinkContent from '@/js/components/pages/courses/messages/create/nested/cards/LinkContent';
    import QlContent from '@/js/components/pages/courses/messages/create/nested/cards/QlContent';

    export default {
        props: [
            'data',
        ],
        methods: {
            remove_element(element){
                var index = this.data.elements.indexOf(element);
				this.data.elements.splice(index, 1);
            },
        },
        components: {
            ImageContent,
            VideoContent,
            LinkContent,
            QlContent,
        },
    }
</script>
