<template>
	<v-container>
		<v-row>
			<v-col
				cols="12"
			>
				<bread-crumbs :items="items"></bread-crumbs>
			</v-col>
		</v-row>
		<v-row>
			<v-col
				cols="12"
			>
				<form-create></form-create>
			</v-col>
		</v-row>
	</v-container>
</template>

<script>
	import BreadCrumbs from '@/js/components/global/BreadCrumbs';
	import FormCreate from '@/js/components/pages/courses/units/create/FormCreate';

	export default {
		data: function() {
			return {
				course_id: this.$route.params.course,
				items: []
			}
		},
		components: {
			BreadCrumbs,
			FormCreate,
		},
		mounted() {
			this.items = [{
				text: 'Dashboard',
				disabled: false,
				href: '/dashboard/',
			},{
				text: 'Courses',
				disabled: false,
				href: '/courses/',
			},{
				text: this.course_id,
				disabled: false,
				href: '/courses/' + this.course_id,
			},{
				text: 'New Unit',
				disabled: true,
				href: '/courses/' + this.course_id + '/units/create/',
			}];
		}
	}
</script>

<style>
</style>
