<template>
	<v-container>
		<v-row>
			<v-col
				cols="12"
			>
				<bread-crumbs :items="items"></bread-crumbs>
			</v-col>
		</v-row>
        <v-row>
			<v-col
				cols="12"
				class="text-center pt-0"
			>
                <v-menu
					bottom
					origin="center center"
					transition="scale-transition"
				>
                    <template v-slot:activator="{ on: menu }">
						<v-tooltip bottom>
							<template v-slot:activator="{ on: tooltip }">
								<v-btn
									color="primary"
                                    block
									dark
									v-on="{ ...tooltip, ...menu }"
								>
                                    <v-icon>mdi-plus</v-icon>Add content
                                </v-btn>
							</template>
							<span>Make new activities, exams or lessons to your course.</span>
						</v-tooltip>
					</template>
					<v-list>
						<v-list-item
							:disabled="true"
							to="/"
						>
							<v-list-item-title>Activities</v-list-item-title>
						</v-list-item>
						<v-list-item
							:disabled="true"
							to="/"
						>
							<v-list-item-title>Exams</v-list-item-title>
						</v-list-item>
						<v-list-item
							:to="'/courses/' + course_id + '/units/' + unit_id + '/lessons/create'"
						>
							<v-list-item-title>Lessons</v-list-item-title>
						</v-list-item>
					</v-list>
				</v-menu>
			</v-col>
        </v-row>
		<unit-card :unit="unit" :loading="loading"></unit-card>
        <unit-elements :elements="unit.elements" :loading="loading"></unit-elements>
        <v-row>
			<v-col
				cols="12"
			>
				<comments-box :comments='comments' :loading="loading" @update="update_comments"></comments-box>
			</v-col>
		</v-row>
	</v-container>
</template>

<script>
	import api from '@/js/api/units';

	import BreadCrumbs from '@/js/components/global/BreadCrumbs';
    import UnitCard from '@/js/components/pages/courses/units/show/UnitCard';
    import UnitElements from '@/js/components/pages/courses/units/show/UnitElements';
    import CommentsBox from '@/js/components/pages/courses/units/show/CommentsBox';

	export default {
		data: function() {
			return {
				loading: true,
				course_id: this.$route.params.course,
                unit_id: this.$route.params.unit,
                unit: [],
                comments: [],
				items: [],
			}
		},
		mounted() {
			this.items = [{
				text: 'Dashboard',
				disabled: false,
				href: '/dashboard/',
			},{
				text: 'Courses',
				disabled: false,
				href: '/courses/',
			},{
				text: this.course_id,
				disabled: false,
				href: '/courses/' + this.course_id,
			},{
				text: 'Unit ' + this.unit_id,
				disabled: true,
				href: '/courses/' + this.course_id + '/Units/' + this.unit_id,
			}];


			api.find(this.$route.params.course, this.$route.params.unit, {
				headers: {
					Accept: 'application/json',
				}
			})
			.then((response) => {
                this.unit = response.data.unit;
                this.comments = response.data.comments;
				this.loading = false;
			})
			.catch(error => {
				this.error = error.response.data;
			});
        },
        methods: {
			update_comments(comment) {
				this.comments.push(comment);
			}
		},
		components: {
			BreadCrumbs,
            UnitCard,
            UnitElements,
            CommentsBox
		}
	}
</script>

<style lang="scss">
</style>
