<template>
		<router-view></router-view>
</template>

<script>
    import { mapGetters } from 'vuex'

	export default {
		computed: {
			...mapGetters([
				'isLogged'
            ]),
		},
		methods: {
			logout () {
				this.$store.dispatch('logout')
			}
		}
    }
</script>
