<template>
</template>

<script>
    export default {
        data: function() {
            return {
            }
        },
        mounted() {
            this.$router.push('/courses')
        }
    }
</script>

<style>
</style>
