<template>
    <v-card
        class="pa-10"
        elevation="3"
    >
        <v-row>
            <v-col>
                <v-text-field
                    v-model="title"
                    :rules="titleRules"
                    label="Unit title"
                    outlined
                    required
                    @change="update"
                ></v-text-field>
            </v-col>
        </v-row>
        <v-row>
            <v-col>
                <v-textarea
                    v-model="description"
                    :rules="descriptionRules"
                    label="Description"
                    outlined
                    auto-grow
                    rows="1"
                    required
                    @change="update"
                ></v-textarea>
            </v-col>
        </v-row>
        <v-row>
            <v-col>
                <material-icons @icon_update="icon_update"></material-icons>
            </v-col>
        </v-row>
    </v-card>
</template>

<script>
    import MaterialIcons from '@/js/components/pages/courses/units/create/nested/MaterialIcons';

    export default {
        props: [

        ],
        data() {
			return {
                title: '',
                description: '',
                iconName: '',
                titleRules: [
                    v => !!v || 'Title is required',
                ],
                descriptionRules: [
                    v => !!v || 'Description is required',
                ],
			}
		},
        methods: {
            update(){
                var auxReturn = {
                    'title' : this.title,
                    'description' : this.description,
                    'iconName' : this.iconName,
                }
                this.$emit("unit_update", auxReturn);
            },
            icon_update(val){
                this.iconName = val;
                this.update();
            }
		},
        components: {
            MaterialIcons
        }
    }
</script>

<style scoped>
</style>


