<template>
	<v-app
		class="overflow-hidden"
	>
        <v-navigation-drawer
            v-model="primaryDrawer.model"
            temporary
            app
        >
            <v-list
                nav
                dense
            >
                <v-list-item-group
                    v-model="group"
                    active-class="deep-purple--text text--accent-4"
                >
                    <v-list-item to="/">
                        <v-list-item-title>Home</v-list-item-title>
                    </v-list-item>

                    <v-list-item to="/courses">
                        <v-list-item-title>Courses</v-list-item-title>
                    </v-list-item>

                    <v-list-item to="/profile">
                        <v-list-item-title>Profile</v-list-item-title>
                    </v-list-item>

                    <v-list-item href="/logout">
                        <v-list-item-title>Logout</v-list-item-title>
                    </v-list-item>
                </v-list-item-group>
            </v-list>
        </v-navigation-drawer>

        <v-app-bar
            color="deep-purple accent-4"
			dark
        	:clipped-left="primaryDrawer.clipped"
        	app
        >
            <v-app-bar-nav-icon
				v-if="primaryDrawer.type !== 'permanent'"
				@click.stop="primaryDrawer.model = !primaryDrawer.model"
			/>
            <v-toolbar-title>CoursePlat</v-toolbar-title>
			<v-spacer></v-spacer>

			<v-btn to="/search" icon>
			  <v-icon>mdi-magnify</v-icon>
			</v-btn>

			<v-btn icon>
			  <v-icon>mdi-heart</v-icon>
			</v-btn>
        </v-app-bar>


        <v-content>
            <v-container
                id="scrolling-techniques"
                class="overflow-y-auto"
                max-height="600"
            >
                <router-view></router-view>
            </v-container>
        </v-content>
		<v-fab-transition>
			<v-btn
				v-scroll="onScroll"
				v-show="fab"
				fab
				large
				dark
				fixed
				bottom
				right
				color="red"
				@click="toTop"
			>
				<v-icon>keyboard_arrow_up</v-icon>
			</v-btn>
		</v-fab-transition>
		<Footer></Footer>
	</v-app>
</template>

<script>
    import { mapGetters } from 'vuex';

	import NavBar from '@/js/components/NavBar';
	import Footer from '@/js/components/global/Footer';

	export default {
		data: function() {
			return {
				primaryDrawer: {
                    model: null,
                    type: 'default (no property)',
                },
				group: null,
				fab: false
			}
        },
        computed: {
            ...mapGetters([
                'isLogged'
            ]),
        },
		components: {
			NavBar,
			Footer
		},
		methods: {
			changeDrawerStatus(value) {
				this.drawer = value;
			},
			addItem (item) {
				const removed = this.items.splice(0, 1)
				this.items.push(
				...this.more.splice(this.more.indexOf(item), 1)
				)
				this.more.push(...removed)
				this.$nextTick(() => { this.currentItem = 'tab-' + item })
			},
			onScroll (e) {
				if (typeof window === 'undefined') return
				const top = window.pageYOffset ||   e.target.scrollTop || 0
				this.fab = top > 20
			},
			toTop () {
				this.$vuetify.goTo(0)
			}
		}
    }
</script>

<style lang="scss">
</style>
