<template>
	<v-container>
		<v-row>
			<v-col
				cols="12"
			>
				<bread-crumbs :items="items"></bread-crumbs>
			</v-col>
		</v-row>
		<v-row>
			<v-col
			cols="12"
			>
				<v-card
				class="pa-10"
				>
					<form-create></form-create>
				</v-card>
			</v-col>
		</v-row>
	</v-container>
</template>

<script>
	import BreadCrumbs from '@/js/components/global/BreadCrumbs';
	import FormCreate from '@/js/components/pages/courses/create/FormCreate';

	export default {
		data: function() {
			return {
				items: [{
					text: 'Dashboard',
					disabled: false,
					href: '/dashboard/',
				},{
					text: 'Courses',
					disabled: false,
					href: '/courses/',
				},{
					text: 'Create',
					disabled: true,
					href: '/courses/create/',
				}],
			}
		},
		components: {
			BreadCrumbs,
			FormCreate
		}
	}
</script>

<style>
</style>
