<template>
	<v-container>
		<v-row>
			<v-col
				cols="12"
			>
				<bread-crumbs :items="items"></bread-crumbs>
			</v-col>
		</v-row>
        <v-row>
			<v-col
				cols="12"
				class="text-center pt-0"
			>
                <v-menu
					bottom
					origin="center center"
					transition="scale-transition"
				>
                    <template v-slot:activator="{ on: menu }">
						<v-tooltip bottom>
							<template v-slot:activator="{ on: tooltip }">
								<v-btn
									color="primary"
                                    block
									dark
									v-on="{ ...tooltip, ...menu }"
								>
                                    <v-icon>mdi-plus</v-icon>Add content
                                </v-btn>
							</template>
                            <span>Make new units to your course, send messages or notifications.</span>
						</v-tooltip>
					</template>
					<v-list>
						<v-list-item
							:to="'/courses/' + course_id + '/units/create/'"
						>
							<v-list-item-title>Units</v-list-item-title>
						</v-list-item>
                        <v-list-item
							:to="'/courses/' + course_id + '/messages/create/'"
						>
							<v-list-item-title>Messages</v-list-item-title>
						</v-list-item>
						<v-list-item
							:to="'/courses/' + course_id + '/notifications/'"
						>
							<v-list-item-title>Notifications</v-list-item-title>
						</v-list-item>
					</v-list>
				</v-menu>
			</v-col>
        </v-row>
        <course-card :course="course" :loading="loading"></course-card>
		<v-row
            v-if="course.notification != null"
        >
            <v-col
                cols="12"
            >
                <v-hover>
                    <template v-slot="{ hover }">
                        <v-alert
                            :type="course.notification.type"
                            :class="`elevation-${hover ? 10 : 1}`"
                            class="mx-auto pa-6 transition-swing mb-0"
                        >
                            {{course.notification.content}}
                        </v-alert>
                    </template>
                </v-hover>
            </v-col>
		</v-row>
		<course-elements :elements="course.elements" :loading="loading"></course-elements>
		<v-row>
			<v-col
				cols="12"
			>
				<comments-box :course="course" :comments='comments' :loading="loading" @update="update_comments"></comments-box>
			</v-col>
		</v-row>
	</v-container>
</template>

<script>
	import api from '@/js/api/courses';

	import BreadCrumbs from '@/js/components/global/BreadCrumbs';
	import CourseCard from '@/js/components/pages/courses/show/CourseCard';
    import CourseElements from '@/js/components/pages/courses/show/CourseElements';
	import CommentsBox from '@/js/components/pages/courses/show/CommentsBox';

	export default {
		data: function() {
			return {
                loading: true,
                course_id: this.$route.params.course,
				items: [],
				course: '',
				comments: '',
			}
		},
		mounted() {
            this.items = [{
				text: 'Dashboard',
				disabled: false,
				href: '/dashboard/',
			},{
				text: 'Courses',
				disabled: false,
				href: '/courses/',
			},{
				text: 'Course ' + this.course_id,
				disabled: true,
				href: '/courses/' + this.course_id,
			}];

			api.find(this.$route.params.course, {
				headers: {
					Accept: 'application/json',
				}
			})
			.then((response) => {
				this.course = response.data.course;
				this.comments = response.data.comments;

				this.loading = false;
			})
			.catch(error => {
				this.error = error.response.data;
			});
		},
		methods: {
			update_comments(comment) {
				this.comments.push(comment);
			}
		},
		components: {
			BreadCrumbs,
            CourseCard,
            CourseElements,
			CommentsBox,
		}
	}
</script>

<style>
</style>
