<template>
	<v-container>
		<v-row>
			<v-col
				cols="12"
			>
				<bread-crumbs :items="items"></bread-crumbs>
			</v-col>
		</v-row>
		<course-summary></course-summary>
		<course-counter></course-counter>
		<v-btn
			fab
			color="red accent-3"
			bottom
			right
			dark
			fixed
			to="/courses/edit/"
		>
		  	<v-icon>mdi-pencil</v-icon>
		</v-btn>
	</v-container>
</template>

<script>
	import BreadCrumbs from '@/js/components/global/BreadCrumbs';
	import CourseSummary from '@/js/components/pages/courses/statistics/CourseSummary';
	import CourseCounter from '@/js/components/pages/courses/statistics/CourseCounter';

	export default {
		data: function() {
			return {
				items: [{
					text: 'Dashboard',
					disabled: false,
					href: '/dashboard/',
				},{
					text: 'Courses',
					disabled: false,
					href: '/courses/',
				},{
					text: 'Statistics',
					disabled: true,
					href: '/courses/statistics/',
				}]
			}
		},
		components: {
			BreadCrumbs,
			CourseSummary,
			CourseCounter
		}
	}
</script>

<style>
</style>
