<template>
    <v-card
        class="pa-10"
        elevation="3"
    >
        <v-row>
            <v-col>
                <v-text-field
                    v-model="lesson.title"
                    :rules="titleRules"
                    label="Title"
                    outlined
                    required
                ></v-text-field>
            </v-col>
        </v-row>
        <v-row>
            <v-col>
                <v-textarea
                    v-model="lesson.info"
                    auto-grow
                    outlined
                    label="Additional info"
                    rows="1"
                ></v-textarea>
            </v-col>
        </v-row>
        <v-row>
            <v-col>
                <v-file-input
                    v-model="lesson.new_files"
                    color="deep-purple accent-4"
                    counter
                    label="Additional files"
                    multiple
                    placeholder="Select your files"
                    prepend-icon="mdi-paperclip"
                    outlined
                    :rules="inputRules"
                    :show-size="1000"
                    @change="reload_files()"
                >
                    <template v-slot:selection="{ index, text }">
                        <v-chip
                            color="deep-purple accent-4"
                            dark
                            label
                            small
                        >
                            {{ text }}
                        </v-chip>
                    </template>
                </v-file-input>
                <v-chip
                    v-for="(file, key) in allFiles"
                    :key="key"
                    class="ma-2"
                    color="secondary"
                    text-color="white"
                    :href="file.path"
                    target="_blank"
                    close
                    @click:close="open_dialog(file)"
                >
                    <v-avatar left>
                        <v-icon>mdi-paperclip</v-icon>
                    </v-avatar>
                    {{file.original_name}}
                </v-chip>
            </v-col>
        </v-row>
        <v-row justify="center">
            <v-dialog
                persistent max-width="290"
                :value="dialog.status"
            >
                <v-card>
                    <v-card-title class="headline">Are you sure?</v-card-title>
                    <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="green darken-1" text @click="dialog.status = false">Cancel</v-btn>
                    <v-btn color="green darken-1" text @click="remove_file(dialog.object)">Remove</v-btn>
                    </v-card-actions>
                </v-card>
            </v-dialog>
        </v-row>
    </v-card>
</template>

<script>
    export default {
        props: [
            'lesson',
            'tasks'
        ],
        data() {
			return {
                dialog: {
                    'status': false,
                    'object': [],
                },
                titleRules: [
                    v => !!v || 'Title is required',
                ],
                inputRules: [
                    value => !value.length || value.reduce((size, file) => size + file.size, 0) < 20000000 || 'Files size should be less than 20 MB!',
                ],
                allFiles: []
			}
		},
        methods: {
            open_dialog(file){
                this.dialog.status = true;
                this.dialog.object = file;
            },
            remove_file(file){
                let file_index;

                if (file.id != undefined) {
                    this.tasks.push({
                        'objetive': 'delete_file',
                        'id': file.id,
                        'model': 'lesson_files',
                    });
                    file_index = this.lesson.files.indexOf(file);
                    this.lesson.files.splice(file_index, 1);
                }else{
                    file_index = this.lesson.new_files.indexOf(file);
                    this.lesson.new_files.splice(file_index, 1);
                }

                this.reload_files();
                this.dialog.status = false;
            },
            reload_files(){
                let files = []
                let oldFiles = this.lesson.files;
                let newFiles = this.lesson.new_files;

                for (let i = 0; i < oldFiles.length; i++) {
                    let file = oldFiles[i];
                    files.push(file);
                }

                for (let i = 0; i < newFiles.length; i++) {
                    let file = newFiles[i];
                    file = {
                        'original_name': file.name,
                        'path': URL.createObjectURL(file),
                        'original': file
                    };
                    files.push(file);
                }

                this.allFiles = files;
            },
        },
        created: function (){
            this.reload_files();
        },
        components: {
		},
    }
</script>

<style scoped>
</style>


