<template>
    <v-container>
        <v-row>
            <v-col
                cols="12"
            >
                <bread-crumbs :items="items"></bread-crumbs>
            </v-col>
        </v-row>
        <v-row>
            <v-col
                cols="12"
                v-if="!loading"
            >
                <form-edit :data="data"></form-edit>
            </v-col>
        </v-row>
    </v-container>
</template>

<script>
    import api from '@/js/api/messages';

    import BreadCrumbs from '@/js/components/global/BreadCrumbs';
    import FormEdit from '@/js/components/pages/courses/messages/edit/FormEdit';

    export default {
        data: function() {
            return {
                loading: true,
                course_id: this.$route.params.course,
                message_id: this.$route.params.message,
                items: [],
                data: {
                    'message': [],
                }
            }
        },
        mounted() {
			this.items = [{
                text: 'Dashboard',
                disabled: false,
                href: '/dashboard/',
            },{
                text: 'Courses',
                disabled: false,
                href: '/courses/',
            },{
                text: 'Course ' + this.course_id,
                disabled: false,
                href: '/courses/' + this.course_id,
            },{
                text: 'Message ' + this.message_id,
                disabled: false,
                href: '/courses/' + this.course_id + '/message/' + this.message_id,
            },{
                text: 'Edit',
                disabled: true,
                href: '/courses/show/message/show/edit/',
            }];

            api.edit(this.course_id,
            this.message_id,
            {
				headers: {
					Accept: 'application/json',
				}
			})
			.then((response) => {
				this.data.message = response.data.message;
				this.loading = false;
			})
			.catch(error => {
				this.error = error.response.data;
			});
		},
        components: {
            BreadCrumbs,
            FormEdit
        }
    }
</script>
