<template>
	<v-container>
		<v-row>
			<v-col
				cols="12"
			>
				<bread-crumbs :items="items"></bread-crumbs>
			</v-col>
		</v-row>
		<message-show :message="message" :loading="loading"></message-show>
	</v-container>
</template>

<script>
	import api from '@/js/api/messages';

	import BreadCrumbs from '@/js/components/global/BreadCrumbs';
	import MessageShow from '@/js/components/pages/courses/messages/show/MessageShow';

	export default {
		data: function() {
			return {
				loading: true,
				course_id: this.$route.params.course,
                message_id: this.$route.params.message,
				message: [],
				items: [],
			}
		},
		mounted() {
			this.items = [{
				text: 'Dashboard',
				disabled: false,
				href: '/dashboard/',
			},{
				text: 'Courses',
				disabled: false,
				href: '/courses/',
			},{
				text: 'Course ' + this.course_id,
				disabled: false,
				href: '/courses/' + this.course_id,
			},{
				text: 'Message ' + this.message_id,
				disabled: true,
				href: '/courses/' + this.course_id + '/messages/' + this.message_id,
			}];

            api.find(
                this.course_id,
                this.message_id,{
				headers: {
					Accept: 'application/json',
				}
			})
			.then((response) => {
				this.message = response.data.message;
				this.loading = false;
			})
			.catch(error => {
				this.error = error.response.data;
			});
		},
		components: {
			BreadCrumbs,
			MessageShow,
		}
	}
</script>
