<template>
	<v-form
		ref="form"
		v-model="valid"
		lazy-validation
	>
		<v-row>
			<v-col
				class=" mb-6"
			>
				<unit-header :unit="unit"></unit-header>
			</v-col>
		</v-row>
		<v-row>
			<v-col
				class="mt-7"
			>
				<v-divider></v-divider>
				<v-btn
					:disabled="!valid"
					color="success"
					class="mr-4 mt-8"
					@click="submit"
				>
					Submit
				</v-btn>

				<v-btn
					color="error"
					class="mr-4 mt-8"
					@click="reset"
				>
					Clear
				</v-btn>
			</v-col>
		</v-row>
	</v-form>
</template>

<script>
    import api from '@/js/api/units';

    import UnitHeader from '@/js/components/pages/courses/units/edit/nested/UnitHeader';

	export default {
        props: [
            'unit'
        ],
		data: () => ({
			valid: true,
		}),
		methods: {
			reset () {
				this.$refs.form.reset();
			},
			submit() {
				if(this.$refs.form.validate()){
                    let formData = new FormData();
                    formData.append('title', this.unit.title);
                    formData.append('description', this.unit.description);
					formData.append('icon_name', this.unit.icon_name);
                    formData.append("_method", "put");

					api.update(this.$route.params.course, this.$route.params.unit,
                        formData,
                        {
                            headers: {
                                'content-type': 'multipart/form-data',
                            },
                        }
                    )
					.then(response => {
						this.$router.push({ name: "courses.show.units.show" , params: {message: response.data.message, course_id: this.$route.params.course, unit_id: this.$route.params.unit}});
					})
					.catch(error => {
						this.error = error.response.data;
					});
				}
			},
		},
		components: {
			UnitHeader,
		},
	}
</script>

<style lang="scss">
</style>
