<template>
	<v-container>
		<v-row>
			<v-col
				cols="12"
			>
				<bread-crumbs :items="items"></bread-crumbs>
			</v-col>
		</v-row>
		<v-row>
			<v-col
			    cols="12"
			>
				<v-card
				    class="pa-10"
				>
                    <v-form
                        ref="form"
                        v-model="valid"
                        lazy-validation
                    >
                        <v-row>
                            <v-col
                                cols="12"
                            >
                                <v-textarea
                                    v-model="content"
                                    :rules="contentRules"
                                    name="content"
                                    label="Notification content"
                                    outlined
                                    required
                                    auto-grow
                                    rows="1"
                                ></v-textarea>
                                <v-select
                                    v-model="type"
                                    :items="content_types"
                                    label="Type"
                                ></v-select>
                            </v-col>
                            <v-col
                                cols="12"
                                v-if="content"
                            >
                                <v-alert
                                    :type="type"
                                >
                                    {{content}}
                                </v-alert>
                            </v-col>
                        </v-row>
                        <v-row>
                            <v-col>
                                <v-btn
                                    :disabled="!valid"
                                    color="primary"
                                    class="mr-4 mt-3"
                                    @click="send"
                                >
                                    Submit
                                </v-btn>
                            </v-col>
                        </v-row>
                    </v-form>
				</v-card>
			</v-col>
            <v-col
                cols="12"
                v-if="currentNotification != null"
            >
                <v-card
                    class="pa-10"
                >
                    <v-card-title>
                        Current notification
                    </v-card-title>
                    <v-hover>
                        <template v-slot="{ hover }">
                            <v-alert

                                :type="currentNotification.type"
                                :class="`elevation-${hover ? 24 : 6}`"
                                class="mx-auto pa-6 transition-swing"
                            >
                                <v-row
                                    align="center"
                                    no-gutters
                                >
                                    <v-col
                                        cols="12"
                                        sm="9"
                                    >
                                        <div>{{currentNotification.content}}</div>
                                        <div
                                            class="pt-2"
                                        >{{currentNotification.created_at}}</div>
                                    </v-col>
                                    <v-col
                                        cols="12"
                                        sm="3"
                                        class="pt-6 pt-sm-0 text-left text-sm-center"
                                    >
                                        <v-btn
                                            outlined
                                            @click="open_dialog(currentNotification)"
                                        >
                                            Remove
                                        </v-btn>
                                    </v-col>
                                </v-row>
                            </v-alert>
                        </template>
                    </v-hover>
                </v-card>
            </v-col>
            <v-col
                cols="12"
                v-if="course_notifications.length > 0"
            >
                <v-card
                    class="pa-10"
                >
                    <v-card-title>
                        Old notifications
                    </v-card-title>
                    <v-hover
                        v-for="notifications in course_notifications"
                        :key="notifications.id"
                    >
                        <template v-slot="{ hover }">
                            <v-alert

                                :type="notifications.type"
                                :class="`elevation-${hover ? 24 : 6}`"
                                class="mx-auto pa-6 transition-swing"
                            >
                                <v-row
                                    align="center"
                                    no-gutters
                                >
                                    <v-col
                                        cols="12"
                                        sm="9"
                                    >
                                        <div>{{notifications.content}}</div>
                                        <div
                                            class="pt-2"
                                        >{{notifications.created_at}}</div>
                                    </v-col>
                                    <v-col
                                        cols="12"
                                        sm="3"
                                        class="pt-6 pt-sm-0 text-left text-sm-center"
                                    >
                                        <v-btn
                                            outlined
                                            @click="content = notifications.content; type = notifications.type"
                                        >
                                            Copy
                                        </v-btn>
                                    </v-col>
                                </v-row>
                            </v-alert>
                        </template>
                    </v-hover>
                </v-card>
            </v-col>
		</v-row>
        <v-dialog
            persistent max-width="290"
            :value="dialog.status"
        >
            <v-card>
                <v-card-title class="headline">Are you sure?</v-card-title>
                <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="green darken-1" text @click="dialog.status = false">Cancel</v-btn>
                <v-btn color="green darken-1" text @click="remove(dialog.object)">Remove</v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
	</v-container>
</template>

<script>
    import api from '@/js/api/course_notifications';

	import BreadCrumbs from '@/js/components/global/BreadCrumbs';
	// import FormCreate from '@/js/components/pages/courses/notifications/FormCreate';

	export default {
		data: function() {
			return {
                items: [],
                loading: true,
                course_id: this.$route.params.course,
                valid: true,
                content: '',
                type: 'success',
                contentRules: [
                    v => !!v || 'Content is required',
                ],
                content_types: ['success', 'info', 'warning', 'error'],
                course_notifications: [],
                dialog: {
                    'status': false,
                    'object': [],
                },
			}
        },
        mounted() {
            this.items = [{
                text: 'Dashboard',
                disabled: false,
                href: '/dashboard/',
            },{
                text: 'Courses',
                disabled: false,
                href: '/courses/',
            },{
                text: this.course_id,
                disabled: false,
                href: '/courses/' + this.course_id,
            },{
                text: 'Send notification',
                disabled: true,
                href: '/courses/' + this.course_id + '/notifications/',
            }];

            api.all(
                this.course_id,
                {
				    headers: {
					    Accept: 'application/json',
				    }
                }
            )
			.then((response) => {
                this.course_notifications = response.data.course_notifications;
				this.loading = false;
			})
			.catch(error => {
				this.error = error.response.data;
			});
        },
        computed: {
            currentNotification: function(){
                for (let y = 0; y < this.course_notifications.length; y++) {
                    let element = this.course_notifications[y];
                    if (element.deleted_at == null) {
                        return element;
                    }

                }
            }
        },
		components: {
			BreadCrumbs,
        },
        methods: {
			send() {
				if(this.$refs.form.validate()){
					let formData = new FormData();
					formData.append('content', this.content);
					formData.append('type', this.type);

					api.create(
                        this.course_id,
                        formData,
					    {
						    headers: {
							    'content-type': 'multipart/form-data',
						    },
                        }
                    )
					.then(response => {
                    this.$router.push({ name: "courses.show",
                        params: {
                            message: response.data.message,
                            course_id: this.$route.params.course,
                        }
                    });
                })
					.catch(error => {
						this.error = error.response.data;
					});
				}
            },
            open_dialog(element){
                this.dialog.status = true;
                this.dialog.object = element;
            },
            remove(element){
                this.dialog.status = false;

                let formData = new FormData();
                formData.append("_method", "put");

                api.destroy(
                    this.$route.params.course,
                    element.id,
                    formData,
                    {
                        headers: {
                            'content-type': 'multipart/form-data',
                        },
                    }
                )
                .then(response => {
                    this.$router.push({ name: "courses.show",
                        params: {
                            message: response.data.message,
                            course_id: this.$route.params.course,
                        }
                    });
                })
                .catch(error => {
                    this.error = error.response.data;
                });
            },
		},
	}
</script>

<style>
</style>
