<template>
	<v-form
		ref="form"
		v-model="valid"
		lazy-validation
	>
		<v-row>
			<v-col
				class=" mb-6"
			>
				<lesson-header :lesson="lesson"></lesson-header>
			</v-col>
		</v-row>
        <lesson-preview :lesson="lesson"></lesson-preview>
		<v-row>
			<v-col>
				<lesson-upload :lesson="lesson"></lesson-upload>
			</v-col>
		</v-row>
		<v-row>
			<v-col
				class="mt-7"
			>
				<v-divider></v-divider>
				<v-btn
					:disabled="!valid"
					color="success"
					class="mr-4 mt-8"
					@click="submit"
				>
					Submit
				</v-btn>

				<v-btn
					color="error"
					class="mr-4 mt-8"
					@click="reset"
				>
					Clear
				</v-btn>
			</v-col>
		</v-row>
	</v-form>
</template>

<script>
    import api from '@/js/api/lessons';

	import LessonHeader from '@/js/components/pages/courses/units/lessons/create/nested/LessonHeader';
	import LessonPreview from '@/js/components/pages/courses/units/lessons/create/nested/LessonPreview';
    import LessonUpload from '@/js/components/pages/courses/units/lessons/create/nested/LessonUpload';

	export default {
		data: () => ({
            valid: true,
            lesson: {
                title: '',
                info: '',
                files: [],
                elements: [],
            },
		}),

		methods: {
			reset () {
				this.$refs.form.reset();
                this.lesson.files = [];
                this.lesson.elements = [];
			},
			submit() {
				if(this.$refs.form.validate()){
					let formData = new FormData();

					for (let i = 0; i < this.lesson.files.length; i++) {
						formData.append('files-' + i, this.lesson.files[i]);
                    }

                    formData.append('lesson_elements', JSON.stringify(this.lesson.elements));

                    for (let i = 0; i < this.lesson.elements.length; i++) {
                        if(this.lesson.elements[i].type == 'image'){
                            for (let y = 0; y < this.lesson.elements[i].content.length; y++) {
                                formData.append('lesson_elements-' + i + '-image-' + y, this.lesson.elements[i].content[y]);
                            }
                        }
                    }

					formData.append('title', this.lesson.title);
					formData.append('info', this.lesson.info);

                    api.create(
                        this.$route.params.course,
                        this.$route.params.unit,
                        formData,
                        {
                            headers: {
                                'content-type': 'multipart/form-data',
                            },
                        }
                    )
					.then(response => {
                        this.$router.push({ name: "courses.show.units.show",
                            params: {
                                message: response.data.message,
                                course_id: this.$route.params.course,
                                unit_id: this.$route.params.unit
                            }
                        });
					})
					.catch(error => {
						this.error = error.response.data;
					});
				}
			},
        },
		components: {
			LessonHeader,
			LessonPreview,
			LessonUpload
		},
	}
</script>

<style scoped>
</style>
