<template>
    <v-row>
        <v-col
            cols="12"
        >
             <template
                v-if="loading"
            >
                <v-card
                    class="mx-auto"
                    elevation="2"
                >
                    <v-skeleton-loader
                        type="article"
                    >
                    </v-skeleton-loader>
                </v-card>
            </template>
            <message-header
                v-else
                :message="message"
            ></message-header>
        </v-col>
        <v-col
            cols="12"
        >
            <v-card
                elevation="3"
            >
                <message-preview
                    :message="message"
                    :loading="loading"
                ></message-preview>
            </v-card>
        </v-col>
    </v-row>
</template>

<script>
    import MessageHeader from '@/js/components/pages/courses/messages/show/nested/MessageHeader';
    import MessagePreview from '@/js/components/pages/courses/messages/show/nested/MessagePreview';

	export default {
		data: function() {
			return {
				course_id: this.$route.params.course,
                message_id: this.$route.params.message,
			}
		},
		props: [
			'message',
			'loading'
        ],
        components: {
            MessageHeader,
            MessagePreview,
            // Create a new component that
            // extends v-skeleton-loader
            VBoilerplate: {
                functional: true,

                render (h, { data, props, children }) {
                return h('v-skeleton-loader', {
                    ...data,
                    props: {
                    boilerplate: true,
                    elevation: 2,
                    ...props,
                    },
                }, children)
                },
            },
        },
	};
</script>

<style>
</style>
