<template>
    <v-card
        class="mx-auto"
        elevation="2"
    >
        <v-list-item>
            <v-list-item-content>
                <p
                    class="px-0 my-0 headline"
                >
                    {{message.title}}
                </p>
                <p
                    class="px-0 my-0 subtitle-2"
                >
                    {{message.status.title}}
                </p>
            </v-list-item-content>
        </v-list-item>
        <v-card-subtitle
            class="subtitle-1"
        >
            {{message.description}}
        </v-card-subtitle>
        <v-card-actions>
            <v-btn
                text
                :to="'/courses/' + course_id + '/'"
                color="deep-purple accent-4 des"
                exact
            >
                <v-icon>mdi-chevron-left</v-icon>Go Back
            </v-btn>
            <v-spacer></v-spacer>
            <v-menu bottom left>
                <template v-slot:activator="{ on }">
                    <v-btn
                        icon
                        v-on="on"
                    >
                        <v-icon>mdi-dots-vertical</v-icon>
                    </v-btn>
                </template>

                <v-list>
                    <v-list-item
                        :to="'/courses/' + course_id + '/messages/' + message.id + '/edit'"
                        link
                    >
                        <v-list-item-title>
                            <v-icon>mdi-pencil</v-icon> Edit
                        </v-list-item-title>
                    </v-list-item>
                    <v-list-item
                        @click="open_dialog(message)"
                    >
                        <v-list-item-title>
                            <v-icon>mdi-delete</v-icon> Delete
                        </v-list-item-title>
                    </v-list-item>
                </v-list>
            </v-menu>
        </v-card-actions>
        <v-dialog
            persistent max-width="290"
            :value="dialog.status"
        >
            <v-card>
                <v-card-title class="headline">Are you sure?</v-card-title>
                <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="green darken-1" text @click="dialog.status = false">Cancel</v-btn>
                <v-btn color="green darken-1" text @click="remove_message(dialog.object)">Remove</v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
    </v-card>
</template>

<script>
    import api from '@/js/api/messages';

	export default {
		data: function() {
			return {
				course_id: this.$route.params.course,
                message_id: this.$route.params.message,
                dialog: {
                    'status': false,
                    'object': [],
                },
			}
		},
		props: [
			'message',
			'loading'
        ],
        components: {
            // Create a new component that
            // extends v-skeleton-loader
            VBoilerplate: {
                functional: true,

                render (h, { data, props, children }) {
                return h('v-skeleton-loader', {
                    ...data,
                    props: {
                    boilerplate: true,
                    elevation: 2,
                    ...props,
                    },
                }, children)
                },
            },
        },
        methods: {
            open_dialog(element){
                this.dialog.status = true;
                this.dialog.object = element;
            },
            remove_message(element){
                this.dialog.status = false;

                let formData = new FormData();

                formData.append("_method", "put");
                api.destroy(
                    this.$route.params.course,
                    this.$route.params.message,
                    formData,
                    {
                        headers: {
                            'content-type': 'multipart/form-data',
                        },
                    }
                )
                .then(response => {
                    this.$router.push({ name: "courses.show",
                        params: {
                            message: response.data.message,
                            course_id: this.$route.params.course,
                        }
                    });
                })
                .catch(error => {
                    this.error = error.response.data;
                });
            },
		},
	};
</script>

<style>
</style>
