<template>
    <v-row>
        <v-col
            cols="12"
            v-for="(element, index) in message.elements"
            :key="index"
        >
            <image-content
                v-if="element.type == 'image'"
                :element="element"
            ></image-content>
            <video-content
                v-else-if="element.type == 'video'"
                :element="element"
            ></video-content>
            <link-content
                v-else-if="element.type == 'link'"
                :element="element"
            ></link-content>
            <ql-content
                v-else-if="element.type == 'text'"
                :element="element"
            ></ql-content>
        </v-col>
    </v-row>
</template>

<script>
    import ImageContent from '@/js/components/pages/courses/messages/show/nested/cards/ImageContent';
    import VideoContent from '@/js/components/pages/courses/messages/show/nested/cards/VideoContent';
    import LinkContent from '@/js/components/pages/courses/messages/show/nested/cards/LinkContent';
    import QlContent from '@/js/components/pages/courses/messages/show/nested/cards/QlContent';

    export default {
        props: [
            'message',
        ],
        components: {
            ImageContent,
            VideoContent,
            LinkContent,
            QlContent,
        },
    }
</script>
