<template>
    <v-carousel>
        <template
            v-for="(image, index) in element.images"
        >
            <v-carousel-item
                :key="index"
                :src="image.path"
                reverse-transition="fade-transition"
                transition="fade-transition"
            ></v-carousel-item>
        </template>
    </v-carousel>
</template>

<script>
    export default {
        props: [
            'element',
        ],
    }
</script>
