<template>
	<v-form
		ref="form"
		v-model="valid"
		lazy-validation
	>
		<v-row>
			<v-col
                cols="12"
			>
				<message-header :data="data" :tasks="tasks"></message-header>
			</v-col>
		</v-row>
        <elements-preview :data="data" :tasks="tasks"></elements-preview>
		<v-row>
			<v-col
                cols="12"
            >
				<element-upload :data="data"></element-upload>
			</v-col>
		</v-row>
		<v-row>
			<v-col
				class="mt-7"
			>
				<v-divider></v-divider>
				<v-btn
					:disabled="!valid"
					color="success"
					class="mr-4 mt-8"
					@click="submit"
				>
					Submit
				</v-btn>
			</v-col>
		</v-row>
	</v-form>
</template>

<script>
    import api from '@/js/api/messages';

	import MessageHeader from '@/js/components/pages/courses/messages/edit/nested/MessageHeader';
	import ElementsPreview from '@/js/components/pages/courses/messages/edit/nested/ElementsPreview';
    import ElementUpload from '@/js/components/pages/courses/messages/edit/nested/ElementUpload';

	export default {
        props: [
            'data',
        ],
		data: () => ({
			valid: true,
            tasks: [],
		}),
		methods: {
            init_function(){
                for (let i = 0; i < this.data.message.elements.length; i++) {
                    let element = this.data.message.elements[i];
                    if (element.type == 'image') {
                        element.new_images = [];
                    }
                }

                if (this.data.message.files != undefined) {
                    this.data.message.new_files = [];
                }
            },
			add_element(element){
				this.data.message.elements.push({
					'order' : this.data.message.elements.length + 1,
                    'text' : {
                        'content' : (element.type == 'text' ? element.content : null),
                    },
                    'link' : {
                        'content' : (element.type == 'link' ? element.content : null),
                    },
                    'video' : {
                        'content' : (element.type == 'video' ? element.content : null),
                    },
                    'images' : (element.type == 'image' ? element.content : null),
                    'type' : element.type,
                    'active' : false
                });
			},
			submit() {
				if(this.$refs.form.validate()){
					let formData = new FormData();

                    // message
                    formData.append('title', this.data.message.title);
                    formData.append('description', this.data.message.description);

                    // tasks
                    formData.append('tasks', JSON.stringify(this.tasks));

                    // message.elements
                    formData.append('message_elements', JSON.stringify(this.data.message.elements));

                    // message.elements.new_files
                    for (let i = 0; i < this.data.message.elements.length; i++) {
                        let element = this.data.message.elements[i]
                        if(element.type == 'image'){
                            for (let y = 0; y < element.new_images.length; y++) {
                                let image = element.new_images[y]
                                formData.append('message_elements-' + i + '-image-' + y, image);
                            }
                        }
                    }

                    formData.append("_method", "put");
                    api.update(
                        this.$route.params.course,
                        this.$route.params.message,
                        formData,
                        {
                            headers: {
                                'content-type': 'multipart/form-data',
                            },
                        }
                    )
					.then(response => {
                        this.$router.push({ name: "courses.show.messages.show",
                            params: {
                                course_id: this.$route.params.course,
                                messsage_id: this.$route.params.messsage,
                            }
                        });
					})
					.catch(error => {
						this.error = error.response.data;
					});
				}
			},
        },
        created: function (){
            this.init_function();
        },
		components: {
			MessageHeader,
			ElementsPreview,
			ElementUpload
		},
	}
</script>
