<template>
    <v-row>
        <v-col
            cols="12"
            v-for="(element, index) in data.message.elements"
            :key="index"
        >
            <image-content
                v-if="element.type == 'image'"
                :element="element"
                :tasks="tasks"
                @remove_element="remove_element"
                @remove_image="remove_image"
            ></image-content>
            <video-content
                v-else-if="element.type == 'video'"
                :element="element"
                :tasks="tasks"
                @remove_element="remove_element"
            ></video-content>
            <link-content
                v-else-if="element.type == 'link'"
                :element="element"
                :tasks="tasks"
                @remove_element="remove_element"
            ></link-content>
            <ql-content
                v-else-if="element.type == 'text'"
                :element="element"
                :tasks="tasks"
                @remove_element="remove_element"
            ></ql-content>
        </v-col>
    </v-row>
</template>

<script>
    import ImageContent from '@/js/components/pages/courses/messages/edit/nested/cards/ImageContent';
    import VideoContent from '@/js/components/pages/courses/messages/edit/nested/cards/VideoContent';
    import LinkContent from '@/js/components/pages/courses/messages/edit/nested/cards/LinkContent';
    import QlContent from '@/js/components/pages/courses/messages/edit/nested/cards/QlContent';

    export default {
        props: [
            'data',
            'tasks'
        ],
        data() {
			return {
			}
		},
        methods: {
            remove_element(element){
                if (element.id != null) {
                    this.tasks.push({
                        'objetive': 'delete_element',
                        'id': element.id,
                        'type': element.type,
                    });
                }

                var index = this.data.message.elements.indexOf(element);
                this.data.message.elements.splice(index, 1);

                for (let y = index; y < this.data.message.elements.length; y++) {
                    this.data.message.elements[y].order--;
                }
            },
            remove_image(val){
                let element_index = this.data.message.elements.indexOf(val.element);
                let image_index;

                if (val.image.id != undefined) {
                    this.tasks.push({
                        'objetive': 'delete_image',
                        'id': val.image.id,
                        'type': 'message_element_image',
                    });
                    image_index = this.data.message.elements[element_index].images.indexOf(val.image);
                    this.data.message.elements[element_index].images.splice(image_index, 1);
                }else{
                    image_index = this.data.message.elements[element_index].new_images.indexOf(val.image.original);
                    this.data.message.elements[element_index].new_images.splice(image_index, 1);
                }
            },
        },
        components: {
            ImageContent,
            VideoContent,
            LinkContent,
            QlContent,
        },
    }
</script>

<style scoped>
</style>
