<template>
    <v-card
        class="pa-10"
        elevation="3"
    >
        <v-row>
            <v-col>
                <v-text-field
                    v-model="data.message.title"
                    :rules="titleRules"
                    label="Message title"
                    outlined
                    required
                ></v-text-field>
            </v-col>
        </v-row>
        <v-row>
            <v-col>
                <v-textarea
                    v-model="data.message.description"
                    :rules="descriptionRules"
                    label="Description"
                    outlined
                    auto-grow
                    rows="1"
                    required
                ></v-textarea>
            </v-col>
        </v-row>
    </v-card>
</template>

<script>export default {
        props: [
            'data'
        ],
        data() {
			return {
                titleRules: [
                    v => !!v || 'Title is required',
                ],
                descriptionRules: [
                    v => !!v || 'Description is required',
                ],
			}
		},
    }
</script>

<style scoped>
</style>


