<template>
	<v-form
		ref="form"
		v-model="valid"
		lazy-validation
	>
		<v-row>
			<v-col
				class=" mb-6"
			>
				<unit-header @unit_update="unit_update"></unit-header>
			</v-col>
		</v-row>
		<v-row>
			<v-col
				class="mt-7"
			>
				<v-divider></v-divider>
				<v-btn
					:disabled="!valid"
					color="success"
					class="mr-4 mt-8"
					@click="submit"
				>
					Submit
				</v-btn>

				<v-btn
					color="error"
					class="mr-4 mt-8"
					@click="reset"
				>
					Clear
				</v-btn>
			</v-col>
		</v-row>
	</v-form>
</template>

<script>
    import api from '@/js/api/units';

    import UnitHeader from '@/js/components/pages/courses/units/create/nested/UnitHeader';

	export default {
		data: () => ({
			valid: true,
			title: '',
            description: '',
            iconName: '',
		}),

		methods: {
			unit_update(inputs){
				this.title = inputs.title;
                this.description = inputs.description;
                this.iconName = inputs.iconName;
			},
			reset () {
				this.$refs.form.reset();
			},
			submit() {
				if(this.$refs.form.validate()){
					let formData = new FormData();

					formData.append('title', this.title);
                    formData.append('description', this.description);
                    formData.append('iconName', this.iconName);

					api.create(this.$route.params.course,
                        formData,
                        {
                            headers: {
                                'content-type': 'multipart/form-data',
                            },
                        }
                    )
					.then(response => {
                        this.$router.push({ name: "courses.show" , params: {message: response.data.message, course_id: this.$route.params.course}});
					})
					.catch(error => {
						this.error = error.response.data;
					});
				}
			},
		},
		components: {
			UnitHeader,
		},
	}
</script>

<style lang="scss">
</style>
