<template>
    <div>
        <v-row
            v-if="loading"
        >
        </v-row>
        <v-row
            v-else
        >
            <v-col
				v-for="(element, index) in elements"
				:key="index"
				lg="4"
				md="6"
				sm="12"
				cols="12"
                class="d-flex flex-column col"
			>
				<lesson-card
                    v-if="element.type == 'lesson'"
					:element="element.lesson"
				></lesson-card>
			</v-col>
        </v-row>
    </div>
</template>

<script>
	import LessonCard from '@/js/components/pages/courses/units/show/nested/LessonCard';

	export default {
        data: function() {
			return {
				course_id: this.$route.params.course,
                unit_id: this.$route.params.unit,
			}
		},
        props: [
            'loading',
			'elements'
		],
		components: {
			LessonCard,
		}
	}
</script>

<style scoped>
</style>
