<template>
    <v-row>
        <template
            v-if="loading"
        >
            <v-col
                cols="12"
            >
                <v-card
                    class="mx-auto"
                    elevation="2"
                >
                    <v-skeleton-loader
                        type="article"
                    >
                    </v-skeleton-loader>
                </v-card>
            </v-col>
        </template>
        <v-col
            v-else
            cols="12"
        >
            <v-card
                class="pa-0 pt-0"
            >
                <v-list-item>
                    <v-list-item-content>
                        <p
                            class="px-0 my-0 headline"
                        >
                            {{unit.title}}
                        </p>
                        <p
                            class="px-0 my-0 subtitle-2"
                        >
                            {{unit.status.title}}
                        </p>
                    </v-list-item-content>
                    <v-list-item-avatar
                        class="justify-start align-start align-self-start mt-3"
                    >
                        <v-icon
                            x-large
                        >
                            mdi-{{unit.icon_name}}
                        </v-icon>
                    </v-list-item-avatar>
                </v-list-item>
                <v-card-subtitle
                    class="subtitle-1"
                >
                    {{unit.description}}
                </v-card-subtitle>
                <v-card-actions>
                    <v-btn
                        text
                        color="deep-purple accent-4 des"
                        exact
                        :to="'/courses/' + course_id"
                    >
                        <v-icon>mdi-chevron-left</v-icon>Go Back
                    </v-btn>
                    <v-spacer></v-spacer>
                    <v-menu bottom left>
                        <template v-slot:activator="{ on }">
                            <v-btn
                                icon
                                v-on="on"
                            >
                                <v-icon>mdi-dots-vertical</v-icon>
                            </v-btn>
                        </template>

                        <v-list>
                            <v-list-item
                                :to="'/courses/' + course_id + '/units/' + unit_id + '/edit'"
                                link
                            >
                                <v-list-item-title>
                                    <v-icon>mdi-pencil</v-icon> Edit
                                </v-list-item-title>
                            </v-list-item>
                            <v-list-item
                                @click="open_dialog(unit)"
                            >
                                <v-list-item-title>
                                    <v-icon>mdi-delete</v-icon> Delete
                                </v-list-item-title>
                            </v-list-item>
                        </v-list>
                    </v-menu>
                </v-card-actions>
                <v-dialog
                    persistent max-width="290"
                    :value="dialog.status"
                >
                    <v-card>
                        <v-card-title class="headline">Are you sure?</v-card-title>
                        <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn color="green darken-1" text @click="dialog.status = false">Cancel</v-btn>
                        <v-btn color="green darken-1" text @click="remove_unit(dialog.object)">Remove</v-btn>
                        </v-card-actions>
                    </v-card>
                </v-dialog>
            </v-card>
        </v-col>
    </v-row>
</template>

<script>
    import api from '@/js/api/units';

	export default {
		data: function() {
			return {
                course_id: this.$route.params.course,
                unit_id: this.$route.params.unit,
                dialog: {
                    'status': false,
                    'object': [],
                },
			}
        },
		props: [
			'unit',
			'loading'
        ],
        methods: {
            open_dialog(element){
                this.dialog.status = true;
                this.dialog.object = element;
            },
            remove_unit(element){
                this.dialog.status = false;

                let formData = new FormData();

                formData.append("_method", "put");
                api.destroy(
                    this.course_id,
                    this.unit_id,
                    formData,
                    {
                        headers: {
                            'content-type': 'multipart/form-data',
                        },
                    }
                )
                .then(response => {
                    this.$router.push({ name: "courses.show",
                        params: {
                            message: response.data.message,
                            course_id: this.course_id,
                        }
                    });
                })
                .catch(error => {
                    this.error = error.response.data;
                });
            },
		},
        components: {
            // Create a new component that
            // extends v-skeleton-loader
            // VBoilerplate: {
            //     functional: true,

            //     render (h, { data, props, children }) {
            //     return h('v-skeleton-loader', {
            //         ...data,
            //         props: {
            //         boilerplate: true,
            //         elevation: 3,
            //         ...props,
            //         },
            //     }, children)
            //     },
            // },
        },
	};
</script>

<style>
</style>
