<template>
	<v-app>
		<v-content>
			<v-container
				class="fill-height"
				fluid
			>
				<v-row
					align="center"
					justify="center"
				>
					<v-col
						cols="12"
						sm="8"
						md="6"
						lg="5"
					>
						<v-card class="elevation-12">
							<v-toolbar
								color="primary"
								dark
								flat
							>
								<v-toolbar-title>Login</v-toolbar-title>
							</v-toolbar>
							<v-form
								ref="form"
								v-model="valid"
								lazy-validation
                                @submit.prevent
								onSubmit="return false;"
							>
								<v-card-text>
									<v-card-text
										v-if="message"
									>
										<v-alert
											type="success"
										>
											{{message}}
										</v-alert>
									</v-card-text>
									<v-text-field
										v-model="form.email"
										:rules="emailRules"
										placeholder="example@email.com"
										label="Email"
										required
										prepend-icon="email"
										type="text"
									/>
									<v-text-field
										v-model="form.password"
										:rules="passwordRules"
										label="Password"
										required
										prepend-icon="lock"
										:append-icon="show1 ? 'mdi-eye' : 'mdi-eye-off'"
										:type="show1 ? 'text' : 'password'"
										@click:append="show1 = !show1"
									/>
								</v-card-text>
								<v-card-text
									v-if="error"
								>
									<v-alert
										type="error"
									>
										{{error}}
									</v-alert>
								</v-card-text>
								<v-card-actions
									class="justify-center"
								>
									<v-btn
										:disabled="!valid"
										color="primary"
										type="submit"
                                        @click="login"
									>
										Sign in
									</v-btn>
									<v-btn
										to="/register"
										text
									>
										Register
									</v-btn>
								</v-card-actions>
							</v-form>
						</v-card>
					</v-col>
				</v-row>
			</v-container>
		</v-content>
	</v-app>
</template>

<script>
    export default {
        data () {
            return {
				show1: false,
				valid: true,
				emailRules: [
					v => !!v || 'E-mail is required',
					v => /.+@.+\..+/.test(v) || 'E-mail must be valid',
				],
                passwordRules: [v => !!v || 'Password is required'],
                form: {
                    email: '',
                    password: '',
                },
				error: '',
				message: this.$route.params.message
			};
        },
        methods: {
            login() {
				if(this.$refs.form.validate()){
					this.$store
                    .dispatch('login', {
                        email: this.form.email,
                        password: this.form.password
                    })
                    .then(response => {
                        this.$router.push({ path: "/courses" });
                    })
                    .catch(error => {
                        this.error = error.response.data;
                    });
				}
			},

        }
    }
</script>
