<template></template>

<script>
    export default {
        created() {
            this.$store
            .dispatch('logout')
            .then(response => {
                this.$router.push({ path: "/login" });
            })
        }
    };
</script>
