<template>
	<v-breadcrumbs :items="items" divider="/">
    <template v-slot:item="{ item }">
      <v-breadcrumbs-item
        :to="item.href"
        :activeClass="item.disabled ? 'v-breadcrumbs__item--disabled' : ''"
        :disabled="item.disabled"
      >
        {{ item.text.toUpperCase() }}
      </v-breadcrumbs-item>
    </template>
  </v-breadcrumbs>
</template>

<script>
  export default {
  	props: [
  		'items'
    ],
  };
</script>

<style scoped>
  .disabled {
    color: grey;
    pointer-events: none;
  }
</style>