<template>
	<v-footer
	  class="font-weight-medium"
	>
		<v-col
		class="text-center"
		cols="12"
		>
			{{ new Date().getFullYear() }} — <strong>CoursePlat</strong>
  		</v-col>
	</v-footer>
</template>

<script>
</script>

<style scoped>
</style>