<template>
    <v-card
        elevation="3"
    >
        <template
            v-if="element.type == 'image'"
        >
            <v-carousel
            >
                <v-carousel-item
                    v-for="(image, index) in imageGallery"
                    :key="index"
                    :src="image.path"
                    reverse-transition="fade-transition"
                    transition="fade-transition"
                ></v-carousel-item>
            </v-carousel>
            <v-card-actions
                class="grey lighten-4"
            >
                <v-spacer></v-spacer>
                <v-btn
                    color="primary"
                    fab
                    small
                    @click="active = !active"
                >
                    <v-icon v-if="active">mdi-close</v-icon>
                    <v-icon v-else>mdi-pencil</v-icon>
                </v-btn>
                <v-btn
                    color="error"
                    fab
                    small
                    @click="open_dialog_element(element)"
                >
                    <v-icon>mdi-delete</v-icon>
                </v-btn>
            </v-card-actions>
            <v-slide-y-transition>
                <v-sheet
                    v-show="active"
                    class="pa-6"
                >
                    <v-file-input
                        ref='file'
                        v-model="element.new_images"
                        accept="image/png, image/jpeg, image/bmp"
                        color="deep-purple accent-4"
                        label="Image input"
                        placeholder="Select your images"
                        prepend-icon="mdi-image"
                        outlined
                        multiple
                        :show-size="1000"
                        @change="reload_gallery()"
                    >
                    </v-file-input>
                    <v-chip
                        v-for="(image, key) in imageGallery"
                        :key="key"
                        class="ma-2"
                        color="secondary"
                        text-color="white"
                        :href="image.path"
                        target="_blank"
                        close
                        @click:close="open_dialog_image(image)"
                    >
                        {{image.original_name}}
                    </v-chip>
                </v-sheet>
            </v-slide-y-transition>
        </template>
        <v-dialog
            persistent max-width="290"
            :value="dialog_element.status"
        >
            <v-card>
                <v-card-title class="headline">Are you sure?</v-card-title>
                <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="green darken-1" text @click="dialog_element.status = false">Cancel</v-btn>
                <v-btn color="green darken-1" text @click="remove_element(dialog_element.object)">Remove</v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
        <v-dialog
            persistent max-width="290"
            :value="dialog_image.status"
        >
            <v-card>
                <v-card-title class="headline">Are you sure?</v-card-title>
                <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="green darken-1" text @click="dialog_image.status = false">Cancel</v-btn>
                <v-btn color="green darken-1" text @click="remove_image(dialog_image.object)">Remove</v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
    </v-card>
</template>

<script>
    export default {
        props: [
            'element',
            'tasks',
        ],
        data() {
			return {
                active: false,
                dialog_element: {
                    'status': false,
                    'object': [],
                },
                dialog_image: {
                    'status': false,
                    'object': [],
                },
                imageGallery: []
			}
		},
        methods: {
            open_dialog_element(element){
                this.dialog_element.status = true;
                this.dialog_element.object = element;
            },
            open_dialog_image(image){
                this.dialog_image.status = true;
                this.dialog_image.object = image;
            },
            remove_element(element){
                this.dialog_element.status = false;
                this.$emit('remove_element', element);
            },
            remove_image(image){
                this.dialog_image.status = false;
                let auxReturn = {
                    'element' : this.element,
                    'image' : image,
                }
                this.$emit('remove_image', auxReturn);
                this.reload_gallery();
            },
            reload_gallery(){
                let gallery = []
                let oldImages = this.element.images;
                let newImages = this.element.new_images;

                for (let i = 0; i < oldImages.length; i++) {
                    let image = oldImages[i];
                    gallery.push(image);
                }

                for (let i = 0; i < newImages.length; i++) {
                    let image = newImages[i];
                    image = {
                        'original_name': image.name,
                        'path': URL.createObjectURL(image),
                        'original': image
                    };
                    gallery.push(image);
                }

                this.imageGallery = gallery;
            }
        },
        created: function (){
            this.reload_gallery();
        }
    }
</script>

<style scoped>
</style>
