<template>
	<v-row>
		<template
			v-if="loading"
		>
			<v-col
				cols="12"
			>
				<v-card
					class="mx-auto"
				>
					<v-skeleton-loader
						type="image"
					>
					</v-skeleton-loader>
					<v-skeleton-loader
						class="px-4 py-4"
						type="sentences"
					>
					</v-skeleton-loader>
				</v-card>
			</v-col>
		</template>
		<template
			v-if="!loading"
		>
			<v-col
				cols="12"
			>
				<v-card
					class="mx-auto"
				>
					<v-img
						:src="course.course_image != null ? course.course_image.path : 'https://picsum.photos/id/7/2400/400'"
						height="194"
						class="white--text align-end"
						gradient="to bottom, rgba(0,0,0,.1), rgba(0,0,0,.5)"
					>
						<v-card-title
                            v-text="course.title"
                        >
                        </v-card-title>
						<v-card-subtitle
							v-text="course.status.title"
							class="white--text"
						>
						</v-card-subtitle>
					</v-img>

					<v-card-text>
						{{course.description}}
					</v-card-text>
					<v-card-actions>
						<v-btn
							text
                            color="deep-purple accent-4"
							:to="$route.path + '/statistics/'"
						>
							<v-icon>mdi-google-analytics</v-icon> Statistics
						</v-btn>
						<v-spacer></v-spacer>
						<v-btn icon>
							<v-icon>mdi-heart</v-icon>
						</v-btn>
						<v-btn icon>
							<v-icon>mdi-share-variant</v-icon>
						</v-btn>
                        <v-menu bottom left>
                            <template v-slot:activator="{ on }">
                            <v-btn
                                icon
                                v-on="on"
                            >
                                <v-icon>mdi-dots-vertical</v-icon>
                            </v-btn>
                            </template>

                            <v-list>
                                <v-list-item
                                    @click=""
                                >
                                    <v-list-item-title>
                                        <v-icon>mdi-cog</v-icon> Config
                                    </v-list-item-title>
                                </v-list-item>
                                <v-list-item
                                    @click=""
                                >
                                    <v-list-item-title>
                                        <v-icon>mdi-account</v-icon> Users
                                    </v-list-item-title>
                                </v-list-item>
                                <v-divider></v-divider>
                                <v-list-item
                                    :to="'/courses/' + course.id + '/edit'"
                                    link
                                >
                                    <v-list-item-title>
                                        <v-icon>mdi-pencil</v-icon> Edit
                                    </v-list-item-title>
                                </v-list-item>
                                <v-list-item
                                    @click="open_dialog(unit)"
                                >
                                    <v-list-item-title>
                                        <v-icon>mdi-delete</v-icon> Delete
                                    </v-list-item-title>
                                </v-list-item>
                            </v-list>
                        </v-menu>
					</v-card-actions>
                    <v-dialog
                        persistent max-width="290"
                        :value="dialog.status"
                    >
                        <v-card>
                            <v-card-title class="headline">Are you sure?</v-card-title>
                            <v-card-actions>
                            <v-spacer></v-spacer>
                            <v-btn color="green darken-1" text @click="dialog.status = false">Cancel</v-btn>
                            <v-btn color="green darken-1" text @click="remove_course(dialog.object)">Remove</v-btn>
                            </v-card-actions>
                        </v-card>
                    </v-dialog>
				</v-card>
			</v-col>
		</template>
	</v-row>
</template>

<script>
    import api from '@/js/api/courses';

	export default {
		props: [
			'course',
			'loading'
		],
		data: function() {
			return {
                dialog: {
                    'status': false,
                    'object': [],
                },
			}
        },
        methods: {
            open_dialog(element){
                this.dialog.status = true;
                this.dialog.object = element;
            },
            remove_course(element){
                this.dialog.status = false;

                let formData = new FormData();

                formData.append("_method", "put");
                api.destroy(
                    this.$route.params.course,
                    formData,
                    {
                        headers: {
                            'content-type': 'multipart/form-data',
                        },
                    }
                )
                .then(response => {
                    this.$router.push({ name: "courses.index",
                        params: {
                            message: response.data.message,
                        }
                    });
                })
                .catch(error => {
                    this.error = error.response.data;
                });
            },
		},
	}
</script>

<style>
</style>
