<template>
	<v-row
        align="stretch"
    >
		<template
			v-if="loading"
		>
			<v-col
				v-for="n in 6"
				:key="n"
				lg="4"
				md="6"
				sm="12"
				cols="12"
			>
				<v-card
					class="mx-auto"
				>
					<v-skeleton-loader
						class="px-4 py-4"
						type="article"
					>
					</v-skeleton-loader>
				</v-card>
			</v-col>
		</template>
		<template
			v-if="!loading && elements != null && elements.length != 0"
		>
			<v-col
				v-for="(element) in elements"
				:key="element.id"
				lg="4"
				md="6"
				sm="12"
				cols="12"
                class="d-flex flex-column col"
			>
				<unit-card
                    v-if="element.type == 'unit'"
					:element="element.unit"
				></unit-card>
                <message-card
                    v-if="element.type == 'message'"
					:message="element.message"
				></message-card>
			</v-col>
		</template>
	</v-row>
</template>

<script>

    import UnitCard from '@/js/components/pages/courses/show/nested/UnitCard';
    import MessageCard from '@/js/components/pages/courses/show/nested/MessageCard';

	export default {
		props: [
			'elements',
			'loading'
		],
		components: {
            UnitCard,
            MessageCard,
		},
	}
</script>

<style scoped>
</style>
