<template>
    <v-row>
        <v-col
            cols="12"
        >
             <template
                v-if="loading"
            >
                <v-card
                    class="mx-auto"
                    elevation="2"
                >
                    <v-skeleton-loader
                        type="article"
                    >
                    </v-skeleton-loader>
                </v-card>
            </template>
            <lesson-header
                v-else
                :lesson="lesson"
            ></lesson-header>
        </v-col>
        <v-col
            cols="12"
        >
            <v-card
                elevation="3"
            >
                <lesson-preview
                    :lesson="lesson"
                    :loading="loading"
                ></lesson-preview>
            </v-card>
        </v-col>
    </v-row>
</template>

<script>
    import LessonHeader from '@/js/components/pages/courses/units/lessons/show/nested/LessonHeader';
    import LessonPreview from '@/js/components/pages/courses/units/lessons/show/nested/LessonPreview';

	export default {
		data: function() {
			return {
				course_id: this.$route.params.course,
                unit_id: this.$route.params.unit,
			}
		},
		props: [
			'lesson',
			'loading'
        ],
        components: {
            LessonHeader,
            LessonPreview,
            // Create a new component that
            // extends v-skeleton-loader
            VBoilerplate: {
                functional: true,

                render (h, { data, props, children }) {
                return h('v-skeleton-loader', {
                    ...data,
                    props: {
                    boilerplate: true,
                    elevation: 2,
                    ...props,
                    },
                }, children)
                },
            },
        },
	};
</script>

<style>
</style>
